::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

#app-wrapper {
    background-color: #46b8ff;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    #up-section-wrapper {
        display: flex;
        flex-direction: column;

        justify-content: space-between;

        height: 25%;
        min-height: 2cm;

        padding: 1em;

        div {
            display: flex;
        }

        div:nth-child(1) {
            justify-content: start;

            //  background-color: aqua;

            input {
                //    background-color: bisque;
                width: 100%;

                text-decoration: none;

                background-color: #46b8ff;
                border: 0;

                outline: 0;

                font-weight: bold;
                font-size: xx-large;

                //letter-spacing: 0.2em;
            }

            input::selection {
                background-color: rgb(70, 184, 255);
            }
        }

        div:nth-child(2) {
            justify-content: end;

            font-weight: 1000;
            font-size: xx-large;
        }
    }

    #down-section-wrapper {
        display: flex;
        flex-direction: row;

        flex-grow: 1;

        margin: 0;
        padding: 0;

        outline: none;

        button {
            flex-grow: 1;
            border-radius: 0;
            font-weight: 1000;
            font-size: xx-large;
            width: 100%;
            height: 100%;

            margin: 0;
            padding: 0;
            gap: 0;
            background-color: #1378c0;
        }

        #side-operations {
            display: flex;
            flex-direction: column;

            width: 100%;
            height: 100%;

            max-width: 3cm;

            margin: 0;
            padding: 0;

            button {
                background-color: rgb(5, 72, 120);
            }

            button:last-child {
                //  background-color: rgb(13, 200, 13);
            }
        }

        #symbols-and-digits-wrapper {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;

            height: 100%;
            width: 100%;

            #clear_button {
                //background-color: #46b8ff;
            }

            #result_button {
                //background-color: #46b8ff;
            }

            .one-row {
                display: flex;
                align-items: stretch;
                justify-content: space-between;

                height: 100%;
            }
        }
    }
}
